body{
    background-color: rgb(14, 14, 14);
    margin: 0%;
}
.div{
    background-color: black;
    width: 1300;
    height: 70px;
}
.img{
    width: 1300;
    height: 800px;
}
/*header*/

.header-text{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
}
.header-text1{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 550px;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
}
.header-text2{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 1040px;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
}
.a{
    color: white;
}
/*gallerey*/

.text1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-left: 500px;
    position: absolute;
    margin-top: 200px;
}
.text2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-left: 440px;
    position: absolute;
    margin-top: 500px;
}

/*footer*/

.div-footer{
    background-color: black;
    width: 1300px;
    height: 300px;
    margin-top: 1500px;
}